.WeatherConditions h1 {
  color: #dd2c00;
  font-size: 42px;
  font-weight: 900;
  margin-left: 12px;
  margin-top: 16px;
  text-align: left;
  text-transform: capitalize;
}

.WeatherConditions hr .top {
  margin-top: 0;
}

.WeatherConditions ul {
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

.WeatherConditions .temp-conversion {
  text-align: right;
}

.WeatherConditions .today-weather-basic {
  font-size: 28px;
  margin-top: 16px;
  text-transform: capitalize;
}

.WeatherConditions .today-weather-conditions {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  text-align: left;
}

.WeatherConditions .today-weather-icon {
  font-size: 72px;
  text-align: center;
}
